
.swiper {
    width: 100%;
    height: 100%;
}

/* pagination bullet */
.swiper-pagination {
    bottom: 60px !important;
    /* joto icha height diba */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


.banner-1 {
    background:
        url('https://i.ibb.co.com/NgtRDZ0x/688812.jpg') no-repeat left 550px bottom 50px / 800px auto;
}

.banner-2 {
    background:
        url('https://i.ibb.co.com/wrKPsNtJ/rolls-royce-rolls-royce-phantom-vehicle-black-cars-wallpaper-preview.jpg') no-repeat left 550px bottom 50px / 800px auto;
}

.banner-3 {
    background:
        url('https://i.ibb.co.com/v6FjW3TS/360-F-481439096-Kv-EZWpy-WNr-E6-Ohbu0i-Qmv-NEBOd2-ALJFk.jpg') no-repeat left 550px bottom 50px / 800px auto;
}

/* banner responsive */
@media screen and (max-width:915px) {

    .banner-1,
    .banner-2,
    .banner-3 {
        flex-direction: column;
        justify-content: center;

        background-position: top;
        background-size: contain;


    }

    .hero-title {
        font-size: 30px;
    }

    .swiper-slide {
        height: 960px
    }

    .swiper-pagination {
        bottom: 160px !important;
    }


}


@media screen and (min-width:912px) and (max-width:1368px) {
     .banner-1,
    .banner-2,
    .banner-3 {
       flex-direction:row;
       justify-content:start;

        background-position:right;
        background-size:600px;
       
        
    }
    
} 


@media screen and (min-width:744px) and (max-width:1133px) {

    .banner-1,
    .banner-2,
    .banner-3 {
        flex-direction: row;
        justify-content: start;

        background-position:left 320px bottom 150px;
        background-size: contain;


    }
    .banner-content{
        margin-top:70px;
        text-align: start;
        padding-left:20px;
    }
    .hero-title {
        font-size:14px;
        text-align: start;

    }
    .sub-title{
        text-align:start;
    }
    .title{
        padding:0
    }
    .btn-content{
        align-items:start;
    }

    .swiper-slide {
        height: 680px;
        padding:0px !important;
    }

    .swiper-pagination {
        bottom: 150px !important
    }

}

@media screen and (min-width:820px) and (max-width:1180px) {

    .banner-1,
    .banner-2,
    .banner-3 {
        flex-direction: row;
        justify-content: start;

        background-position: 320px;
        background-size: contain;


    }

    .hero-title {
        font-size: 35px;
        text-align: start;
    }

    .swiper-slide {
        height: 600px
    }

    .swiper-pagination {
        bottom: 80px !important
    }

}

@media screen and (min-width:800px) and (max-width:1280px) {

    .banner-1,
    .banner-2,
    .banner-3 {
        flex-direction: row;
        justify-content: start;

        background-position: 320px;
        background-size: contain;


    }

    .hero-title {
        font-size: 35px;
        text-align: start;
    }

    .swiper-slide {
        height: 600px
    }

    .swiper-pagination {
        bottom: 80px !important
    }

}
@media screen and (min-width:1024px) and (max-width:1366px) {

    .banner-1,
    .banner-2,
    .banner-3 {
        flex-direction: row;
        justify-content: start;

        background-position: 470px;
        background-size:700px;


    }

    .hero-title {
        font-size: 35px;
        text-align: start;
    }

    .swiper-slide {
        height: 600px
    }

    .swiper-pagination {
        bottom: 80px !important
    }

}

@media screen and (min-width:1032px) and (max-width:1376px) {
    .banner-1,
    .banner-2,
    .banner-3 {
        flex-direction: row;
        justify-content: start;

        background-position:520px;
        background-size:700px;


    }

    

}