body {
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

/* pagination bullet */
.swiper-pagination {
    bottom: 60px !important;
    /* joto icha height diba */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 620px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner-1 {
    background:
        url('https://i.ibb.co.com/NgtRDZ0x/688812.jpg') no-repeat left 550px bottom 50px / 800px auto;
}
.banner-2 {
    background:
        url('https://i.ibb.co.com/wrKPsNtJ/rolls-royce-rolls-royce-phantom-vehicle-black-cars-wallpaper-preview.jpg') no-repeat left 550px bottom 50px / 800px auto;
}
.banner-3 {
    background:
        url('https://i.ibb.co.com/v6FjW3TS/360-F-481439096-Kv-EZWpy-WNr-E6-Ohbu0i-Qmv-NEBOd2-ALJFk.jpg') no-repeat left 550px bottom 50px / 800px auto;
}

@media screen and (min-width:1032px) and (max-width:1376px) {
    .grid-layout{
      grid-template-columns:repeat(3,1fr);
    }
    
}