@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.noto-sans-georgian {
  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}